<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include common_templates/header.ejs %>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p>You can add the cities name that you've visited:</p>
        <ul>
            <% visitedplace.visited.forEach(function(item){ %>
                <li><a href="#"><%= item.city %> in <%= item.state %></a></li>
            <% }); %>
        </ul>
        <fieldset>
            <legend>Add visited cities name here: </legend>
            <form action="/add" method="post">
                <input type="text" name="city" placeholder="Enter city name">
                <input type="text" name="state" placeholder="Enter state name">
                <input type="submit">
            </form>
        </fieldset>
    </body>
</html>
